<header>
      <nav class="navbar navbar-default" role="navigation">
            <div class="container">
                <ul>
                  <div class="col-md-4">
                        <div class="navbar-brand"><a href="#/">{{ AC.title }}</a></div>
                  </div>
                  <div class="col-md-8 text-right">
                        <div class="navbar-header navbar-right">
                        <div class="navbar-brand"><a href="#/overview">Overview</a></div>
                        <div class="navbar-brand">|</div>
                        <div class="navbar-brand"><a href="#/settings">Settings</a></div>
                        </div>
                  </div>
                  </ul>
            </div>
      </nav>
</header>

<h4>Welcome</h4><hr/>

<section class="container">
      <div class+"col-md-6 col-offset-md-3">
            <a href="#/overview"><button class="btn btn-primary"> View Servers </button></a>
      </div>
</section>